@use 'sass:map';
@use '../abstracts/colors' as c;
@use '../abstracts/typography' as t;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;


.root {
  width: 100%;
  height: 100vh;
  @include mx.flexcombo(v-center);

  .home-console-startup-edge {
    @include mx.flexcombo(v-center);
    border-radius: map.get(v.$border-radius, round-2);

    width: 30%;
    height: 80%;
    background-color: map.get(map.get(c.$colors, darkmode), dark-bg);
    box-shadow: inset 4px 4px 4px 4px map.get(map.get(c.$colors, darkmode), dark-bg);
    border-bottom: 8px solid map.get(map.get(c.$colors, darkmode), dark-bg);

    .console-base {
      @include mx.flexcombo(v-sb);
      background-color: map.get(map.get(c.$colors, lightmode), light-bg);
      border-radius: map.get(v.$border-radius, round-2);
      padding: map.get(v.$padding, xl);

      width: 100%;
      height: 100%;
      gap: 24px;
      
      .screen-home-frame {
        @include mx.flexcombo(center);
        
        width: 100%;
        height: 100%;

        background: map.get(map.get(c.$colors, darkmode), dark-bg);
        border-radius: map.get(v.$border-radius, round-1);
        
        .home-text-group {
          @include mx.flexcombo(v-center);
          width: 90%;
          height: 90%;
          padding: 48px;
          border-radius: map.get(v.$border-radius, round-1);
          background-color: map.get(map.get(c.$colors, external-design), hbg-extra);
          box-shadow: inset 0 0 4px 1px map.get(map.get(c.$colors, darkmode), dark-bg);
          user-select: none;

          h1 {
            @include mx.textStyle(inter, article, bold);
            text-align: center;
            color: map.get(map.get(c.$colors, external-design), main-text-extra);
          } p {
            @include mx.textStyle(inter, normal, semibold);
            color: map.get(map.get(c.$colors, external-design), main-text-extra);
          }
        }
      }

      .btn-area-home-frame {
        @include mx.flexcombo(h-sa);
        
        width: 100%;
        height: 30%;

        .vent {
          place-content: center;
          height: auto;
          display: grid;
          gap: 4px;

          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
        } span {
          border-radius: 100%;
          width: 16px;
          height: 16px;
          background-color: map.get(map.get(c.$colors, external-design), main-text-extra);
          box-shadow: inset 0 4px 4px 0 rgba(map.get(map.get(c.$colors, darkmode), dark-bg), 0.25);
        }

        .btn-group-home {
          @include mx.flexcombo(center);
          width: 100%;
          height: 100%;
          .btnbase {
            @include mx.flexcombo(center);
            width: 50%;
            aspect-ratio: 1 / 1;
            border-radius: map.get(v.$border-radius, round-full);
            background-color: map.get(map.get(c.$colors, external-design), main-text-extra);
            box-shadow: inset 0 -4px 0 0 map.get(map.get(c.$colors, external-design), bg-extra);
            border: 4px solid black;
            position: relative;
          } button {
            @include mx.flexcombo(center);

            border: 4px solid map.get(map.get(c.$colors, external-design), bg-extra);
            background-color: map.get(map.get(c.$colors, universal), primary-accent);
            box-shadow: 0 6px 0 0 map.get(map.get(c.$colors, external-design), heading-extra),
            0 8px 2px 1px rgba(map.get(map.get(c.$colors, darkmode), dark-bg), 0.4);

            border-radius: map.get(v.$border-radius, round-full);
            margin-bottom: 20%;
            width: 90%;
            aspect-ratio: 1 / 1;
            position: absolute;
            transition: 0.4s ease, box-shadow 0.2s ease;

            &:hover {
              margin-bottom: 10%;
              box-shadow: none;
            }
          }
        }
      }

    }
  }
}

h1 {
  color: white;
}

.layout-flex-wrapper {
  @include mx.flexcombo(v-center);
  width: 100%;
  height: 100dvh;
  padding: 16px;
  gap: 4px;
}

.header-frame {
  @include mx.flexcombo(center);
  width: 100%;
  .navbar {
    @include mx.flexcombo(center);
    border-radius: map.get(v.$border-radius, round-2);
    width: 100%;
    gap: 24px;
    padding: 12px;
    background-color: map.get(map.get(c.$colors, lightmode), light-bg);
  
    .nav-text-style {
      @include mx.textStyle(inter, small, bold);
    }
  }
}


.mid-section {
  @include mx.flexcombo(center);
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: map.get(map.get(c.$colors, lightmode), light-bg);
  border-radius: map.get(v.$border-radius, round-2);
}

/* SPECIAL STYLES FOR HOME PAGE */
.mid-section-home {
  @include mx.flexcombo(v-sb);
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  border-radius: map.get(v.$border-radius, round-2);
  gap: 4px;

  .bottom-portion-home {
    @include mx.flexcombo(h-sb);
    width: 100%;
    padding: 12px;
    background-color: map.get(map.get(c.$colors, lightmode), light-bg);
    border-radius: map.get(v.$border-radius, round-2);

    .socials-home{
      @include mx.flexcombo(h-sa);
      gap: 8px;
    }

    button {
      @include mx.flexcombo(center);
      gap: 12px;
      padding: 8px;
      border-radius: map.get(v.$border-radius, round-2);
      border: 1px solid map.get(map.get(c.$colors, external-design), hbg-extra);
      width: 40px;
      overflow: hidden;
      position: relative;
      transition: width 0.25s ease;
      span {
        position: absolute;
        white-space: nowrap;
        opacity: 0;
        transform: translateX(-8px);
        transition: opacity 0.25s ease, transform 0.25s ease;
      }

      &:hover {
        @include mx.flexcombo(h-start);
        color: map.get(map.get(c.$colors, external-design), main-text-extra);
        &.contact-btn {
          width: 130px;
          background-color: map.get(map.get(c.$colors, external-design), bg-extra);
        } &.fb {
          width: 120px;
          background-color: map.get(map.get(c.$colors, socials), facebook);
        } &.github {
          width: 100px;
          background-color: map.get(map.get(c.$colors, socials), github);
        } &.li {
          width: 110px;
          background-color: map.get(map.get(c.$colors, socials), linkedin);
        } &.quick-icon{
          stroke: map.get(map.get(c.$colors, external-design), main-text-extra);
        } span {
          color: map.get(map.get(c.$colors, external-design), main-text-extra);
          opacity: 1;
          transform: translateX(0);
          position: relative;
        }
      }
    }
  }
}

.footer-frame {
  @include mx.flexcombo(h-sb);
  height: 5%;
  width: 100%;
  padding: 0 12px 0 12px;
  gap: 12px;
  
  p,
  button,
  span{
    @include mx.textStyle(inter, x-small, bold);
    color: map.get(map.get(c.$colors, external-design), main-text-extra);
  } button {
    border: none;
    background-color: transparent;
  }

  .footer-year{
    white-space: nowrap;
  }
  .footer-spacer {
    width: 100%;
    height: 12px;
    background-image: linear-gradient(
      to right,
      map.get(map.get(c.$colors, lightmode), light-bg) 1px, 
      transparent 2px,
      map.get(map.get(c.$colors, lightmode), light-bg) 1px,
      transparent 2px
    );
    background-size: 12px 12px;
    background-repeat: repeat-x;
  }

  .footer-right-group{
    @include mx.flexcombo(h-sa);

    gap: 12px;
    .name {
      width: 100%;
      white-space: nowrap;
    }
  }
}

.pagelayout-style-footer {
  width: 100%;
}


/* PAGE STYLES */

/* Home Page */

.home-page-style {
  @include mx.flexcombo(v-center);
  width: 100%;
  height: 100%;
  background-color: map.get(map.get(c.$colors, lightmode), light-bg);
  border-radius: map.get(v.$border-radius, round-2);
  gap: 40px;

  .top-side {
    @include mx.flexcombo(v-center);
    background-color: red;
    width: 580px;
    gap: 12px;

    .intro-header{
      @include mx.textStyle(inter, header, bold);
      color: map.get(map.get(c.$colors, lightmode), light-txt);
    } .intro-description {
      @include mx.textStyle(inter, normal, semibold);
      text-align: center;
    }
  }

  .bottom-side {
    @include mx.flexcombo(v-center);
    background-color: green;

    .intro-cards {
      @include mx.flexcombo(h-sa);
      gap: 24px;

      .card-style{
        width: 240px;
        height: 180px;
        border-radius: map.get(v.$border-radius, round-2);
        padding: map.get(v.$padding, sm);
        gap: 12px;
        background-color: blue;

        .card-icon {

        }
        .card-title {

        }
        .card-description {

        }
      }
    }
  }
}