@use '../abstracts/colors' as c;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;
@use '../abstracts/typography' as t;

.display-card-container {
  width: 600px;
  height: 400px;

  border-radius: map.get(v.$border-radius, round-2);
  padding: map.get(v.$padding, md);
  @include mx.flexcombo(v-center);

  .card {
    width: 100%;
    height: 100%;
    @include mx.flexcombo(v-center);

    .img {
      width: 100%;
      object-fit: cover;
    }

    .description-section {
      @include map.get(v.$padding, sm);

      .tags {
        padding: map.get(v.$padding, sm);
        p {
          @include mx.textStyle(poppins, small, thin);
        }
      }
      .title {
        @include mx.textStyle(default, default, default);
      }

    }
  }
}