@use 'sass:map';
@use '../abstracts/colors' as c;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;
@use '../abstracts/typography' as t;

.home-footer {
    width: 100%;
    height: auto;
    @include mx.typecombo(flex-v);
    padding: 0px;

    .home-quick-socials{
      width: 100%;
      background-color: map.get(map.get(c.$colors, lightmode), light-bg);
      @include mx.typecombo(flex-h-sb);
      border-radius: map.get(v.$border-radius, round-3);

      .social-group {
        @include mx.typecombo(flex-h-center);
        gap: 12px;

        span {
          width: 24px;
          height: 24px;
          @include mx.typecombo(flex-center);
          .social-icon {
            width: 24px;
            height: 24px;

            &:nth-child(1) {
              width: 18px;
              height: 18px;
            }
          }
        }
      }

      .contact-me {
        border-radius: map.get(v.$border-radius, round-1);
        padding: 4px 12px;

        @include mx.textStyle(small, regular);
      }
    }
  }