/* DISPLAY SIZES */
/*  */
$breakpoints: (
  'xs': '480px', // Custom extra small breakpoint
  'sm': '640px',
  'md': '768px',
  'lg': '1024px',
  'xl': '1280px',
  '2xl': '1536px',
  'desktop': '1920px',
);


