@use 'sass:map';
@use '../abstracts/colors' as c;
@use '../abstracts/typography' as t;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/variables' as v;
@use '../abstracts/animations';


@mixin display-style($device) {
  @media (min-width: map-get($breakpoints, $device)) {
    @content;
  }
}

@mixin centre($axis: "both") {
    position:absolute;
    @if $axis == "y"{
        top:50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @if $axis == "x"{
        left:50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @if $axis == "both"{
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }   
} /* Dan Osborne(poster) & hsz(editor): StackOverflow as of 2025 */
/*
Link: https://stackoverflow.com/questions/23240114/how-to-vertically-center-a-div-with-sass-compass 
*/

/* 
USAGE 
Y axis : @include centre(y);
X axis : @include centre(x);
Both axis : @include centre;
*/

/* 
USAGE Example:
flexcombo($type(h-$type), $direction(x, y, both))       = flex horizontally, base/plain
*/
@mixin flexcombo($type) {
  display: flex;
  align-items: center;
  padding: 4px;
  
  /* HORIZINTAL */
  @if $type == 'h-start' {
    flex-direction: row;
    justify-content: start;
  }
  @if $type == 'h-sb' {
    flex-direction: row;
    justify-content: space-between;
  }
  @if $type == 'h-sa' {
    flex-direction: row;
    justify-content: space-around;
  } 

  /* VERTICAL */
  @if $type == 'v-start' {
    flex-direction: column;
    justify-content: start;
  }
  @if $type == 'v-sb' {
    flex-direction: column;
    justify-content: space-between;
  }
  @if $type == 'v-sa' {
    flex-direction: column;
    justify-content: space-around;
  }  
  
  /* CENTER */
  @if $direction == 'both' {
    @if $type == 'center' {
    align-items: center;
    justify-content: center;
    }
    @if $type == 'h-center' {
      flex-direction: row;
      justify-content: center;
    }
    @if $type == 'v-center' {
      flex-direction: column;
      justify-content: center;
    }
  }  

  /* WRAP */
  @if $type == 'flex-wrap' {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@mixin boxShadow($shadow) {
  @if $shadow == 'inset-y' {
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25) inset;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25) inset;
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25) inset;
  }
}

@mixin textStyle($family, $size, $weight) {

  @if $size != null {
    font-size: map.get(t.$fs, $size);
    else {
      font-size: map.get(t.$fs, normal);
    }
  }

  @if $family != null {
    font-family: map.get(t.$ff, $family);
    else {
      font-family: map.get();
    }
  } 

  @if $weight != null {
    font-weight: map.get(t.$fw, $weight);
    else {
      font-weight: map.get(t.$fw, regular);
    }
  }

  @else if $family == 'default' & $size == 'default' & $weight == 'default' {
    font-family: map.get(t.$ff, inter);
    font-size: map.get(t.$fs, small);
    font-weight: map.get(t.$fw, regular);
  }
  
  @else {
    @warn "Unknown Text Style: #{$textStyle}";
  }
}

@mixin linkhover($mode, $duration) {
  display: inline-block;
  position: relative;
  transition: transform 0.25s ease-out;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    @if $mode == 'light'{
      background-color: map.get(map.get(c.$colors, lightmode), light-txt);
    } @else if $mode == 'dark' {
      background-color: map.get(map.get(c.$colors, darkmode), dark-txt);
    }
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
} /* CREDIT TO: https://www.30secondsofcode.org/css/s/hover-underline-animation/ */

@mixin backgroundSetter($bg) {
  @if $bg == 'light' {
    background-color: map.get(map.get(c.$colors, lightmode), light-bg);
  }
  @if $bg == 'dark' {
    background-color: map.get(map.get(c.$colors, darkmode), dark-bg);
  }

  @if $bg == 'main-dot' {  
    background-color: map.get(map.get(c.$colors, external-design), bg-extra);
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle at center, map.get(map.get(c.$colors, lightmode), light-fg) 1px, transparent 1px);
    background-size: 40px 40px;
    background-repeat: repeat-x repeat-y;
  }
}
