@use 'sass:map';
@use '../abstracts/colors' as c;
@use '../abstracts/variables' as v;
@use '../abstracts/typography' as t;
@use '../abstracts/mixins' as *;

* {
  @include textStyle(poppins, normal, regular);
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

